In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('RunsSaved.csv')
df = df.sort_values('rARM', ascending = False)
df.head()

,Season,Name,Team,Pos,Inn,rSZ,rCERA,rSB,rGDP,rARM,...,FSR,FRM,ARM,DPR,RngR,ErrR,UZR,UZR/150,Def,playerid
9,2016,Starling Marte,PIT,LF,966.2,NaN,NaN,NaN,NaN,9,...,11.0,NaN,4.5,NaN,0.5,0.1,5.1,7.3,0.1,9241
1,2018,Kyle Schwarber,CHC,LF,943.2,NaN,NaN,NaN,NaN,7,...,-3.0,NaN,7.9,NaN,0.7,1.1,9.8,14.0,4.9,16478
22,2017,Adam Duvall,CIN,LF,1277.1,NaN,NaN,NaN,NaN,7,...,1.0,NaN,3.8,NaN,1.4,-0.3,4.9,4.7,-1.6,10950
21,2018,Eddie Rosario,MIN,LF,1049.1,NaN,NaN,NaN,NaN,7,...,4.0,NaN,5.5,NaN,1.0,-2.3,4.2,4.7,-1.2,12155
0,2018,Alex Gordon,KCR,LF,1085.0,NaN,NaN,NaN,NaN,6,...,5.0,NaN,3.9,NaN,8.5,0.7,13.1,15.8,7.5,5209

In [5]:
df[['first_name','last_name']] = df['Name'].loc[df['Name'].str.split().str.len() == 2].str.split(expand=True)

In [6]:
df_16 = df[df['Season']==2016]
df_17 = df[df['Season']==2017]
df_18 = df[df['Season']==2018]
df_19 = df[df['Season']==2019]